.App {
  background: url("./v904-nunny-012-min.jpg");
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

textarea {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(0, 0, 0, 1);
}
.vp {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(0, 0, 0, 1);
}
